.basket-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0;
}

.modal-basket {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: #fefefe;
    margin: auto;
    height: fit-content;
    min-height: 100%;
    padding: 24px 48px;
    margin: 0;
}
  

.close-basket {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 7px;
}
  
.close-basket:hover,
.close-basket:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.history-of-orders {
    margin-top: 12px;
    .btn-show-history {
        background-color: #b0c1af;
        padding: 12px 16px;
        border: none;
        color: #fff;
    }
    .history-wrapper {
        margin-top: 24px;
        display: none;
        border: 1px solid #e7e7e7;
        width: fit-content;
        position: relative;
        .table-history {
            display: block;
            overflow-y: scroll;
            max-height: 245px;
            width: fit-content;
            padding: 12px;
            text-align: left;
            th {
                padding: 5px
            }
            .history-clean {
                margin: 0px 12px;
            }
        }
        .close-history {
            position: absolute;
            right: 13px;
            font-size: 23px;
        }
    }
}

@media(max-width: 760px) {
    .basket-wrapper {
        .modal-basket {
            padding: 24px;
        }
        .amount-price-wrapper {
            .table-amount-price {
                width: 100%;
            }
        }
    }
}

@media(max-width: 480px) {
    .basket-wrapper {
        .modal-basket {
            height: fit-content;
        }
    }
}

@media(max-width: 320px) {
    .history-of-orders {
        .history-wrapper {
            width: inherit;
            .table-history {
               padding: 5px;
               width: inherit;
               font-size: 12.5px;
               th {
                   padding: 0;
               }
            }
        }
    }
}