@import './../../../style/mixins.scss';

.product-info {
    display: flex;
    position: relative;
    .info-img-wrap {
    
        img {
            max-width: 300px;
      
            object-fit: cover;
        }
    }
    .info-text-wrap {
        padding: 24px 8px;
    }
    .info-img-wrap {
        display: flex;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .modal {
        .modal-content {
            .product-info {
                flex-direction: column;
                .info-img-wrap {
                    justify-content: center;
                }
            }
        }
    }
}

