@import './mixins.scss';
@import './order.scss';

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    font-family: "Dosis", sans-serif;
}

header {
    font-family: 'Dosis', sans-serif;
    .header-logo-part {
        background-color: #fff;
        padding: 20px 0px;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
           .logo {
                max-width: 65px;
                max-height: 65px;
            }
            span {
                font-size: 22px;
                font-weight: 600;
                color: #4682b4;
            }
        }
    }
    .header-search-basket {
        display: flex;
        box-shadow: 0 0 100px 50px rgb(0 0 0 / 2%);
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 0px;
        width: 100%;
        .container {
            width: 100%;
            display: flex;
            .search-block-wrapper {
                width: 100%;
                .search-block {
                    background: #fff;
                    border: solid 1px #b0c1af;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 21px;
                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        padding: 8px;
                        border-radius: 17px;
                        font-family: 'Dosis', sans-serif;
                        font-size: 16px;
                        text-indent: 10px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                }
            }
            .basket-block {
                margin-left: 15px;
                .basket-img {
                        width: 40px;
                        height: 40px;
                        border: solid 1px #b0c1af;
                        border-radius: 50%;
                        cursor: pointer;
                    }  
            }
        }
    }
}

.container {
    margin: 0px 48px;
}

.main-content {
    display: flex;
    padding: 10px;
    margin: 0px 48px;
    .filters {
        width: 25%;
        position: sticky;
        .price-filter {
            @include flex-col;
            margin-bottom: 16px;
            select {
                cursor: pointer;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: fit-content;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
}
  

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.to-main-page {
    text-decoration: none;
}

@media(max-width: 760px) {
    .container {
        margin: 0px 24px;
    }
}

@media(max-width: 480px) {
    .modal-content {
        width: 80%;
    }
}
