@import './../../../style/mixins.scss';

.price-filter {
    #sort-by-price {
        height: 35px;
        border: solid 1px #b0c1af;
    }
}

.category-filter {
    #category-list {
        width: 100%;
        height: 35px;
        border: solid 1px #b0c1af;
    }
}

@media(max-width: 760px) {
    .price-filter, .category-filter {
        width: 100%;
    }
}